# Imports

In [11]:
import numpy as np
import pandas as pd

# Lecture exercises 1

## Load data

In [2]:
irisDF = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', header=None)
irisDF.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

## Setting axis-names and initial inspection

In [3]:
colnames = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'types']
irisDF.columns = colnames

# Quick look what colum names and row names look like at this point
irisDF.head()

   sepal_length  sepal_width  petal_length  petal_width        types
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
# Generate row names
num_entries = irisDF.shape[0]
flower_ind = [f'flower_{x + 1}' for x in range(num_entries)]

# Set row names
irisDF.index = flower_ind
irisDF.head()

          sepal_length  sepal_width  petal_length  petal_width        types
flower_1           5.1          3.5           1.4          0.2  Iris-setosa
flower_2           4.9          3.0           1.4          0.2  Iris-setosa
flower_3           4.7          3.2           1.3          0.2  Iris-setosa
flower_4           4.6          3.1           1.5          0.2  Iris-setosa
flower_5           5.0          3.6           1.4          0.2  Iris-setosa

# Lecture exercises 2

## Unique values

In [5]:
unique_classes = list(set(irisDF['types']))
unique_classes

['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']

In [8]:
unique_classes = list(irisDF['types'].unique())
unique_classes

['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']

## Compute the column mean for each type

In [10]:
iris_pivot = irisDF.groupby('types')
class_means = iris_pivot.mean()
class_means

                 sepal_length  sepal_width  petal_length  petal_width
types
Iris-setosa             5.006        3.418         1.464        0.244
Iris-versicolor         5.936        2.770         4.260        1.326
Iris-virginica          6.588        2.974         5.552        2.026

## Create a new boolean column in your dataframe named `sepal_width >= 3`

In [12]:
iris1DF = irisDF.copy()

In [14]:
iris1DF['sepal_width >= 3'] = np.where(iris1DF['sepal_width'] >= 3.0, True, False)
iris1DF.head()

,sepal_length,sepal_width,petal_length,petal_width,types,sepal_width >= 3
flower_1,5.1,3.5,1.4,0.2,Iris-setosa,True
flower_2,4.9,3.0,1.4,0.2,Iris-setosa,True
flower_3,4.7,3.2,1.3,0.2,Iris-setosa,True
flower_4,4.6,3.1,1.5,0.2,Iris-setosa,True
flower_5,5.0,3.6,1.4,0.2,Iris-setosa,True

In [16]:
irisDF['sepal_width >= 3'] = irisDF['sepal_width'] >= 3.0
irisDF.head()

,sepal_length,sepal_width,petal_length,petal_width,types,sepal_width >= 3
flower_1,5.1,3.5,1.4,0.2,Iris-setosa,True
flower_2,4.9,3.0,1.4,0.2,Iris-setosa,True
flower_3,4.7,3.2,1.3,0.2,Iris-setosa,True
flower_4,4.6,3.1,1.5,0.2,Iris-setosa,True
flower_5,5.0,3.6,1.4,0.2,Iris-setosa,True

## Count how many times sepal width is >= 3

In [17]:
irisDF['sepal_width >= 3'].sum()

93

In [19]:
irisDF.groupby('sepal_width >= 3').count()

                  sepal_length  sepal_width  petal_length  petal_width  types
sepal_width >= 3
False                       57           57            57           57     57
True                        93           93            93           93     93

# Lecture exercises 3

## Count how many times each class occurs

In [20]:
irisDF['types'].value_counts()

types
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

## Create three data subsets

In [21]:
irisSetosaDF     = irisDF[irisDF['types'] == 'Iris-setosa']
irisVersicolorDF = irisDF[irisDF['types'] == 'Iris-versicolor']
irisVirginicaDF  = irisDF[irisDF['types'] == 'Iris-virginica']

## View last 10 rows of columns `sepal_length` and `types`

In [25]:
irisDF[['sepal_length', 'types']].tail(10)

            sepal_length           types
flower_141           6.7  Iris-virginica
flower_142           6.9  Iris-virginica
flower_143           5.8  Iris-virginica
flower_144           6.8  Iris-virginica
flower_145           6.7  Iris-virginica
flower_146           6.7  Iris-virginica
flower_147           6.3  Iris-virginica
flower_148           6.5  Iris-virginica
flower_149           6.2  Iris-virginica
flower_150           5.9  Iris-virginica

# Lecture exercises 4

## View rows where `sepal_length` > 5 and `petal_width` < 0.2

In [26]:
irisDF[(irisDF['sepal_length'] > 5) & (irisDF['petal_width'] < 0.2)]

,sepal_length,sepal_width,petal_length,petal_width,types,sepal_width >= 3
flower_33,5.2,4.1,1.5,0.1,Iris-setosa,True

## Make a new DataFrame containing only rows where `petal_width` is exactly 1.8

In [27]:
newIrisDF = irisDF[irisDF['petal_width'] == 1.8]
newIrisDF

,sepal_length,sepal_width,petal_length,petal_width,types,sepal_width >= 3
flower_71,5.9,3.2,4.8,1.8,Iris-versicolor,True
flower_104,6.3,2.9,5.6,1.8,Iris-virginica,False
flower_108,7.3,2.9,6.3,1.8,Iris-virginica,False
flower_109,6.7,2.5,5.8,1.8,Iris-virginica,False
flower_117,6.5,3.0,5.5,1.8,Iris-virginica,True
flower_124,6.3,2.7,4.9,1.8,Iris-virginica,False
flower_126,7.2,3.2,6.0,1.8,Iris-virginica,True
flower_127,6.2,2.8,4.8,1.8,Iris-virginica,False
flower_128,6.1,3.0,4.9,1.8,Iris-virginica,True
flower_138,6.4,3.1,5.5,1.8,Iris-virginica,True
flower_139,6.0,3.0,4.8,1.8,Iris-virginica,True
flower_150,5.9,3.0,5.1,1.8,Iris-virginica,True

## Get descriptive statistics for the whole dataframe and afterward only for column `petal_length`

In [28]:
irisDF.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [29]:
irisDF['petal_length'].describe()

count    150.000000
mean       3.758667
std        1.764420
min        1.000000
25%        1.600000
50%        4.350000
75%        5.100000
max        6.900000
Name: petal_length, dtype: float64

## Remove rows named `flower_55` and `flower_77`

In [30]:
irisDF = irisDF.drop(['flower_55', 'flower_77'], axis=0)

## Remove column `sepal_width >= 3`

In [32]:
irisDF = irisDF.drop(['sepal_width >= 3'], axis=1)

In [33]:
del iris1DF['sepal_width >= 3']

## View all rows of `sepal_length` where `petal_width` is exactly 1.8

In [34]:
specific_rows = irisDF[irisDF['petal_width'] == 1.8]['sepal_length']
specific_rows

flower_71     5.9
flower_104    6.3
flower_108    7.3
flower_109    6.7
flower_117    6.5
flower_124    6.3
flower_126    7.2
flower_127    6.2
flower_128    6.1
flower_138    6.4
flower_139    6.0
flower_150    5.9
Name: sepal_length, dtype: float64

## Get values of the dataframe stored in a numpy array

In [35]:
data = irisDF.values

## Remove column types and apply a function named computation to each cell in dataframe

Function computation should do the following: take the value of the cell, add 1 and multiply that by 3.

In [38]:
def computation(x):
    return 3*(x + 1)

if 'types' in list(irisDF.columns):
    del irisDF['types']
    newIrisDF = irisDF.map(computation)