In [1]:
import pandas as pd
import numpy as np
from io import StringIO

# Create a small dataset to analyze

csv_data = """
A,B,C,D
1.0,2.0,3.0,4.0
5.0,6.0,,8.0
10.0,11.0,12.0,
"""

# read the CSV data into a pandas DataFrame
df = pd.read_csv(StringIO(csv_data))

# show the dataset
def show_dataset(df):
    return df.style.background_gradient(cmap='Greens').highlight_null('orange').format("{:.2f}")

show_dataset(df)

/var/folders/qf/9lcflp0s1nq8l85_tw03dz180000gp/T/ipykernel_52409/1998366259.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# Removing missing values

In [2]:
# =============================================================================
# Identify columns containg missing values
# =============================================================================
df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

In [3]:
# ===========================================
# Access numpy array from pandas data frame
# ============================================
# access the underlying NumPy array
# via the `values` attribute
df_array = df.values
print(df_array)

[[ 1.  2.  3.  4.]
 [ 5.  6. nan  8.]
 [10. 11. 12. nan]]

In [4]:
# show initial dataset again
show_dataset(df)

In [5]:
# ===========================================
# (A) Remove rows that contain missing values
# ============================================
a = df.dropna(axis=0)

# show the dataset
show_dataset(a)

In [6]:
# ===========================================
# (B) Remove columns that contain missing values
# ============================================
b = df.dropna(axis=1)

# show the dataset
show_dataset(b)

In [7]:
# make one sample completely empty
modified_df = df.copy()
modified_df.loc[2] = np.nan
show_dataset(modified_df)

In [8]:
# ===========================================
# (C) Remove row where all columns are NaN
# ============================================
c = modified_df.dropna(how='all')

# show the dataset
show_dataset(c)

In [9]:
# ===========================================
# (D) Remove rows that have less than 4 real values
# ============================================
d = df.dropna(thresh=4)

# show the dataset
show_dataset(d)

In [10]:
# ===========================================
# (E) Only drop rows where NaN appear in specific columns (here: 'C')
# ============================================
f = df.dropna(subset=['C'])

# show the dataset
show_dataset(f)

# Imputing missing values

In [11]:
show_dataset(df)

In [12]:
from sklearn.impute import SimpleImputer

In [13]:
# Impute missing values using the column mean
imputer = SimpleImputer(missing_values=np.nan, strategy='mean') # other popular choices: "median", "most_frequent"
imputer.fit(df.values)
imputed_data = imputer.transform(df.values)

# show the dataset
# note that the output of the SimpleImputer is a NumPy array
# so we need to convert it back to a pandas DataFrame to use our helper function
show_dataset(pd.DataFrame(imputed_data))